---
title: pxf
---

管理segment主机上的PXF服务实例

## <a id="topic1__section2"></a>概要

``` pre
pxf <command> [<option>]
```

\<command\> 支持的选项:

``` pre
cluster
help
init
restart
start
status
stop
sync
version
```

## <a id="topic1__section3"></a>描述

`pxf`管理GPDB segment节点主机上的PXF服务实例。

你可以在指定的segment主机上初始化、启动、停止、重启PXF服务。 您可以显示主机上运行的PXF服务实例的状态。 您还可以将PXF配置从主服务器同步到指定的Greenplum数据库segment主机。

要在Greenplum数据库集群中的所有segment主机上初始化，启动和停止PXF服务实例，请使用`pxf cluster`命令。 请参阅[`pxf cluster`](pxf-cluster.html#topic1)。

## <a id="commands"></a>命令

<dt>cluster</dt>
<dd>在所有Greenplum数据库segment主机上管理PXF服务实例。 参见[`pxf cluster`](pxf-cluster.html#topic1).</dd>

<dt>help</dt>
<dd>显示pxf帮助消息，然后退出</dd>

<dt>init</dt>
<dd>在主机上初始化PXF服务实例。初始化PXF时，必须通过名为`$PXF_CONF`的环境变量来标识PXF用户配置目录。如果在初始化PXF之前未设置`$PXF_CONF`，则PXF会提示您在初始化过程中接受或拒绝默认用户配置目录`$HOME/pxf`。参阅 [Options](pxf.html#options).</dd>

<dt>restart</dt>
<dd>在segment主机上重新启动PXF服务</dd>

<dt>start</dt>
<dd>在segment主机上启动PXF服务</dd>

<dt>status</dt>
<dd>显示在segment主机上运行的PXF服务实例的状态</dd>

<dt>stop  </dt>
<dd>停止在segment主机上运行的PXF服务实例</dd>

<dt>sync  </dt>
<dd>将PXF配置从master服务器同步到特定的Greenplum数据库segment主机。 您必须在master主机上运行`pxf sync`，详见 [Options](pxf.html#options).</dd>

<dt>version  </dt>
<dd>显示PXF的版本信息并退出</dd>

## <a id="options"></a>Options

`pxf init`命令支持以下选项:

<dt>-y </dt>
<dd>Do not prompt, use the default `$PXF_CONF` directory location if the environment variable is not set.</dd>

The `pxf sync` command takes the following option:

<dt>\<seghost\> </dt>
<dd>如果未设置环境变量，则不提示使用默认的`$PXF_CONF`目录位置</dd>

## <a id="topic1__section5"></a>示例

在segment主机本地启动PXF实例：

``` shell
$ $GPHOME/pxf/bin/pxf start
```

## <a id="topic1__section6"></a>See Also

[`pxf cluster`](pxf-cluster.html#topic1)
