<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">文档索引</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/6-0/common/gpdb-features.html">Greenplum数据库&reg; 6.0文档</a>
      </li>
      <li>
         <a href="/6-0/admin_guide/admin_guide.html">管理员指南</a>
      </li>
      <li>
        <a href="/6-0/security-guide/topics/preface.html">安全性配置指南</a>
      </li>
      <li>
        <a href="/6-0/best_practices/intro.html">最佳实践指南</a>
      </li>
      <li>
         <a href="/6-0/utility_guide/utility_guide.html">工具指南</a>
      </li>
      <li>
         <a href="/6-0/ref_guide/ref_guide.html">参考指南</a>
      </li>
      <li>
         <a href="/6-0/pxf/overview_pxf.html">Greenplum平台扩展框架(PXF)</a>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
