---
title: PXF安装和配置目录
---

在你安装Greenplum数据库时，PXF被安装在master和segment节点上。

## <a id="installed"></a>PXF安装目录

在安装Greenplum时，以下配置文件和目录将被安装在你的GPDB实例中。这些文件/目录在PXF的安装目录$GPHOME/pxf:

| Directory | Description                                                                                                                                                                                                                                |
|--------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| apache&#8209;tomcat/ | PXF的Tomcat目录  |
| bin/                 | PXF脚本和可执行文件目录 |
| conf/                | PXF内部配置目录，这个目录包含`pxf-env-default.sh`和`pxf-profiles-default.xml`配置文件。在初始化pxf后，这个目录也会包括`pxf-private.classpath`文件 |
| lib/                 | PXF库目录 |
| templates/           | PXF的配置模板 |


## <a id="runtime"></a>PXF运行目录

在初始化和启动过程中，PXF在$GPHOME/pxf创建了如下内部目录:

| Directory | Description                                                                                                                                                                                                                                
|--------------------------------|------------------------------------------------------------------------------|
| pxf&#8209;service/         | 	PXF初始化之后的PXF服务实例目录   |
| run/         | 启动pxf后，pxf的运行目录。包含PXF catalina进程ID文件 |

## <a id="usercfg"></a>PXF用户配置目录

在pxf初始化过程中，PXF使用以下的子目录和模板文件填充你选择的用户配置目录(`$PXF_CONF`)

| Directory | Description   |
|-----------|---------------|
| conf/     | 用户可自定义的PXF配置文件位置：`pxf-env.sh`，`pxf-log4j.properties`和`pxf-profiles.xml` |
| keytabs/  | PXF服务Kerberos秘钥文件的默认位置 |
| lib/      | 默认的PXF用户运行库目录 |
| logs/     | PXF运行时间日志文件目录，包括`pxf-service.log`和`Tomcat`相关日志`catalina.out`. logs目录和日志文件都是`gpadmin`用户创建的只读文件 |
| servers/  | 服务配置目录，每一个子目录标识服务名称。默认服务器名为`default`。数据库管理员也可以配置其他服务 |
| templates/ | 连接器服务器模板文件的配置目录 |

参数 [初始化PXF](init_pxf.html) and [启动PXF](cfginitstart_pxf.html#start_pxf) 了解PXF初始化和启动命令和过程的详细信息
